{% extends 'base.html' %}

{% block title %}Bienvenue{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="display-1">Bienvenue!</h1>
        <hr>
    </div>
    <br>
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-dismissible alert-danger center">
                    <strong>{{ message }}</strong>
                </div>
            {% else %}
                <div class="alert alert-dismissible alert-success center">
                    <strong>{{ message }}</strong>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="container form-group">
        <form method="POST">
            {% csrf_token %}
            <label>Type de hobby :</label><br>
            {{ form.type_hobby }}<br><br>

            <!--
                En vous inspirant de ce qui précède, vous devez afficher le 
                champs "description" du formulaire.
            -->



            <hr>
            <button type="submit" class="btn btn-success lg">Créer le Hobby</button>
        </form>
        <br>
    </div>
    <div class="container">
        <h3 class="display-3">Liste des hobbies</h3>
        <hr>
        <br>
        <div class="list-group">
            {% for hobby in hobbies %}
                {% include '_list.html' %}
            {% empty %}
                <p>Il n'y a aucun hobby.</p>
            {% endfor %}
        </div>
        <br>
    </div>
    <br>
{% endblock %}